:root {
  height: 100%;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: linear-gradient(to bottom right, pink, cornflowerblue);
  color: whitesmoke;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  * {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

#root {
  height: 100%;
}

a {
  color: cornflowerblue;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    filter: brightness(90%);
  }
}

label {
  font-weight: bold;

  span {
    display: block;
    margin-bottom: 0.25rem;
  }
}

input {
  padding: 0.75rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  border: 4px solid transparent;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.25s;

  &:focus {
    border-bottom-color: cornflowerblue;
  }
}

button {
  background-color: lighten(black, 15%);
  padding: 0.75rem 1.75rem;
  font-size: 17px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;

  &:active {
    translate: 0 -1px;
  }
}
