.App {
  height: 100%;
  text-align: center;

  // pre {
  //   margin-top: 0.5rem;
  //   padding: 0.5rem;
  //   width: 16rem;
  //   background-color: black;
  //   color: limegreen;
  //   border-radius: 0.25rem;
  // }

  .route {
    height: 100%;

    h2 {
      translate: 0 85px;
    }
  }
}
