.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .route {
    width: 100%;
    flex: 1;

    .route-heading {
      display: none;

      padding: 0.5rem 0;
      text-align: center;
    }
  }
}
